.t-wrapper{
    padding: 0 3rem 0 3rem;
    margin-bottom: 5rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    flex-direction: column;
    gap:0.5rem;
    position: relative;
}

.t-heading{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.t-heading>*{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.t-heading span:nth-child(2){
    color: var(--orange);
    padding-bottom: 1rem;
}
.t-heading span:nth-child(3){
    color: var(--gray);
    font-size: 17px;
    font-weight: 200
}

.t-blur1{
    left: 45rem;
    top: 39rem;
}

.t-blur2{
    top: 16rem;
    left: 0rem;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    padding: 2rem;
    width: 30rem;
    height: 19rem;
    background : rgba(255, 255, 255, 0.26);
    border: 7px solid var(--blueCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    overflow: hidden;
    position: relative;

}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(1.8px); /* Blurring the image */
    margin-bottom: 1rem;
}

.project .project-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: var(--orange);
    border-radius: 10px;
    transition: background 0.3s ease;
    width: 200px;               
    text-overflow: ellipsis;    /* Dots for overflow */
    white-space: nowrap;        /* Prevents wrapping */
    overflow: hidden;           /* Hides overflow */
    display: flex;              
    align-items: center;        
    justify-content: center;    
}


.project .project-link:hover {
    background: #1a89e2;
}

/* slider */
.t-wrapper .swiper{
    width: 100%;
    height: 70%;
    
}


.t-wrapper .swiper-slide{
    display: flex;
    justify-content: center;
}

.t-wrapper .swiper-pagination-bullet-active{
    background: var(--orange);
}
.t-wrapper .swiper {
  width: 100%;
  height: 80vh;
}



.project-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  position:absolute;
  bottom: 2px;
  margin:0 auto 0 auto; 
}

.project-icons a {
  color: var(--orange);
  margin: 1px 10px;
  cursor: pointer;
}

.project-icons a:hover {
  color: #1a89e2;
}
.info-icon{
 color: var(--orange);
}

.info-icon :hover{
    color: #1a89e2 ;
}

.project-icons svg {
  transition: all 0.3s ease;
}

.project-icons svg:hover {
  transform: scale(1.2);
}

.tech-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 0, 50, 0.59);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.popup-content h2 {
  margin-bottom: 10px;
}

.popup-content ul {
  list-style-type: none;
  padding: 0;
}

.popup-content li {
  margin: 5px 0;
}

.popup-content button {
  background-color: var(--orange);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

.popup-content button:hover {
  background-color: #1a89e2;
}


@media screen and (max-width: 480px) {
    .t-wrapper{
        padding: 0;
    }
    .t-heading> :nth-child(1), 
    .t-heading> :nth-child(2){
        font-size: 2.rem;
    }
    .t-heading span:nth-child(3){
        font-size: 14px;
    }
    .project{
        width: 20rem;
        height: 10rem;
    }
    .project .project-link {
    font-size: 0.6rem;
    width: 150px;
    font-weight: 400;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: var(--orange);
    border-radius: 10px;
    transition: background 0.3s ease;

}
    .project img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .t-blur1{
        left: 20rem;
        top: 8rem;
    }

    .t-blur2{
        top: 4rem;
        left: 0rem;
    }
    .project {
    width: 80%;
    height: 15rem;
  }

 
    
}.t-wrapper{
   height: 70vh;
    
}

.popup-content {
  border-radius: 8px;
  max-width: 200px;
  width: 100%;
  text-align: center;
}

.popup-content h2 {
  font-size: medium;
}

.popup-content li {
  font-size: small;
} 
