.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 50vh;
    margin-top: 8rem;
}
.c-left{
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
}

.c-name{
    display: flex;
    flex-direction: column;
}
.c-name>:nth-child(1){
    font-size: 3rem;
    font-weight: bold;
    color: var(--black);
}

.c-name>:nth-child(2){
    font-size: 3rem;
    font-weight: bold;
    color: var(--orange);
}

.c-name>:nth-child(3){
    font-size: 17px;
    font-weight: 100;
    color: var(--gray);
    margin-top: 1rem;
}


.c-right {
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right> form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.c-right .user{
    width: 25rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;
}

textarea{
    height: 4rem !important ;
}

.c-blur {
    top:1rem;
    left: 8rem;
}

.c-button{
    width: 8rem;

}

@media screen and (max-width: 480px) {

    .contact-form{
        flex-direction: column;
        height: 100vh;
        margin-bottom: 6rem;
        margin-top: 0;
    }

    .c-left{
        flex: 0.1rem;
        margin-bottom: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .c-right{
        flex: 1.3rem;
    }
    .c-right .user{
        width: 15rem;
    }
    .c-button {
    width: 9rem !important;
    height: 2rem !important;
  }
  .c-name > :nth-child(1),
  .c-name > :nth-child(2) {
    font-size: 2.5rem;
  }
   .c-name > :nth-child(3){
    font-size: 14px;
  }
}