.intro {
    display: flex;
    padding: 0 3rem 0 3rem;
    height: 75vh;
    margin-top: 10rem;
}

.i-left{
    display: flex;
    position:relative;
    flex: 1;
    flex-direction: column;
}

.i-name{
    display: flex;
    flex-direction: column;
}
.i-name>:nth-child(1){
    font-size: 3rem;
    font-weight: bold;
    color: var(--black);
}

.i-name>:nth-child(2){
    font-size: 3rem;
    font-weight: bold;
    color: var(--orange);
}

.i-name>:nth-child(3){
    font-size: 14px;
    font-weight: 100;
    color: var(--gray);
    margin-top: 1rem;
}
.i-name>:nth-child(4){
    font-size: 14px;
    font-weight: 100;
    color: var(--gray);
    margin-top: 0.7rem;
    margin-bottom: 1rem;
}

.i-button-mobile {
  display: none;
}


.i-icons{
    margin-top: 0;
    display: flex;
    gap: 0

}

.i-icons>*{
    transform: scale(0.5);
}

.intro>*:hover{
    cursor: pointer;
}

.i-right{
    flex: 1;
    position: relative;
}

.i-right>*{
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1){
    transform: scale(0.90);
    left: -15%;
    top: -1%;
}

.i-right>:nth-child(2){
    transform: scale(0.75);
    left: -5rem;
    top: -5.6rem;
}

.i-right>:nth-child(3){
    transform: scale(1.2);
    left: 23%;
    top: -9%;
}

.i-right>:nth-child(4){
    transform: scale(0.6);
    left: -40%;
    top: -11%;
    border-radius: 50%;
    padding: 0;
}

.blur{
    position: absolute;
    width: 22rem;
    height:14rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top: -8%;
    left: 56%;
    filter: blur(72px)

}

@media screen and (max-width: 480px) {
 .intro{
    flex-direction: column;
    height: 64rem;
    gap:7rem ;
 }

 i.right{
    transform: scale(0.5);
    left: -3rem;
 }
 .i-right .blur{
    display: none;
 }
 .floating-div:nth-of-type(1){
    top: -7rem !important;
    left: 10rem !important;
 }
}


@media screen and (max-width:768px) {
    .intro{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 0rem;
        padding: 2rem 2rem 0 2rem;
        margin-top: 5rem;
        height: 100vh;
    }
    .i-left{
        align-items: center;
        text-align: center;
        width: 100%;
        flex: 0.7;
    }
    .i-right{
        align-items: center;
        text-align: center;
        margin-bottom: 0;
        width: 100%;
        transform: scale(0.6);
        left: -4rem;
    }
  .i-name > :nth-child(1),
  .i-name > :nth-child(2) {
    font-size: 2.5rem;
  }
   .i-name > :nth-child(3),
  .i-name > :nth-child(4) {
    font-size: 12px;
  }

  .i-button-mobile {
    display: block !important;
    width: 9rem !important;
    height: 2.3rem !important;
    margin: 1rem auto  1rem auto;
    margin-top: 1rem;
  }
    .i-icons {
    justify-content: center;
    gap: 0.6rem;
    transform: scale(0.6);
  }
  .i-icons > * {
    transform: scale(0.7);
  }

  .floating-div {
    transform: scale(0.9);
  }

/* background blue */
  .i-right>:nth-child(1){
    left: -21%;
    top: 5%;
}
/* background yellow */
.i-right>:nth-child(2){
    left: -4rem;
    top: -5.6rem;
}
/* my profile foto */
.i-right>:nth-child(3){
    transform: scale(1.2);
    left: 39%;
    top: -9%;
}
/* imoji */
.i-right>:nth-child(4){
    transform: scale(0.6);
    left: -40%;
    top: -11%;
}

}



