.footer{
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: -1rem;
}
.footer > img {
    height: 100%;
    object-fit: cover;
    width: 100%;}

.f-content{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 8rem;
    gap: 3rem;
    color: white;
}

.f-content span {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0;
}

.f-icons{
    display: flex;
    gap: 2rem;
}


@media screen and (max-width: 480px) {
.footer{
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: -7rem;
}

.f-content{
    color: white;
    gap: 0.5rem;
    margin-top: 5rem;
}

.f-content span {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.f-icons{
    display: flex;
    gap: 0.8rem;
    transform: scale(0.7);
    padding-bottom: 2rem;
}
    
}